<html xmlns="http://www.w3.org/1999/xhtml" ng-app="FortuneCookie">
<head>
    <title></title>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/ngApp/app.js"></script>
</head>
<body ng-controller="FortuneCookieController as fanta">
 
    <h1>{{fanta.fortune}}</h1>

</body>
</html>

